<html>
    <%- include("./partials/head") %> 

    <body>
        <%- include("./partials/header") %>

        <main>
            <section class="carrusel">
                <img class="banner" src="images\carrusel\banner-gorillaz.png" alt="Carrusel">
            </section>
            
            <section class="categorias">
                <a href= # ><article class="vinilos">
                    <img src="images\iconos-logos\vinilo.svg" class="icono-categoria" alt="Vinilo">
                </article></a>

                <a href= # ><article class="cassettes">
                    <img src="images\iconos-logos\cassete.svg" class="icono-categoria" alt="Cassete">   
                    </article></a>

                <a href= # ><article class="discos">
                    <img src="images\iconos-logos\cd.svg" class="icono-categoria" alt="cd">                    
                    </article></a>

                <a href=#><article class="digital">
                    <img src="images\iconos-logos\wave.svg"class="icono-categoria" alt="Onda de Sonido">
                </article></a>

            </section>

            <h2 class="titular">Nuevos Lanzamientos</h2>

            <section class="nuevos-lanzamientos">


                <% for(let i = 0; i < disco.length; i++) { %>

                    <article class="album">
                        <a href="/products/detail/<%= disco[i].id%>"> 
                            <img class="cover-art" src="/images/cover/<%=disco[i].image%>" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album"><%=disco[i].name%></p>
                                <p class="banda-album"> <%= disco[i].artists.name %></p>
                            </div>
                        </a>
                    </article>

                <%} %>   
            
                </section>

                <h2 class="titular">Mas Vendidos</h2>

                <section class="nuevos-lanzamientos">
    
                    <% for(let i = 0; i < 2; i++) { %>

                        <article class="album">
                            <a href="/products/detail/<%= disco[i].id%>"> 
                                <img class="cover-art" src="/images/cover/<%=disco[i].image%>" alt="cover">
                                <div class="info-album">
                                    <p class="titulo-album"><%=disco[i].name %></p>
                                    <p class="banda-album"><%=disco[i].artists.name %></p>
                                </div>
                            </a>
                        </article>

                    <%} %>   
    
                    </section>

                    <h2 class="titular">Clasicos</h2>

                    <section class="nuevos-lanzamientos">

        
                        </section>

        </main>

       <%- include("./partials/footer") %>
    </body>
</html>