<html>

    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
        <main>
            <section class="perfil-box">
                <article>

                    <p class="titulo-perfil">Mi perfil</p>   
                
                <article> 
                    
                    <img class="box-imagen-perfil" src=/images/users/<%= usuarioEncontrado.image %>>
                            
                </article>

                        <p class="box-nombre-usuario"> <%= usuarioEncontrado.first_name + " " + usuarioEncontrado.last_name    %></p>

                        <article>
                           <p class="box-texto-email"> Email: <%= usuarioEncontrado.email %></p> 
                        </article>

                        <a href="/users/edit/<%=usuarioEncontrado.id%>" class="boton2"><p class="box-boton-cerrar-sesion boton2">Editar Usuario</p>
                        </a>
                        <form action="/users/logout" method="POST">
                        <button type="submit" class="box-boton-cerrar-sesion">Cerrar Sesion</button>
                        </form>

                </article>

            </section>
        </main>

        <%- include("./partials/footer") %>
    </body>

</html>