<html>

    <%- include("./partials/head") %>

<body>

    <body>
        <%- include("./partials/header") %>
        <main>
            <section class="register-container">
                <h2> Registrate</h2>
                <form action="/users/register" enctype="multipart/form-data" method="POST" class="register-form">
                    <div class="nombre-apellido">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre" >
                        <% if(locals.errors && locals.errors.nombre){ %>
                            <p class="msg-error"> <%= errors.nombre.msg %> </p>
                            <% } %>
                    </div>
                    <div class="nombre-apellido">
                        <input type="text" name="apellido" id="apellido" placeholder="Apellido" >
                        <% if(locals.errors && locals.errors.apellido){ %>
                            <p class="msg-error"> <%= errors.apellido.msg %> </p>
                            <% } %>
                    </div>
                    <div class="email">
                        <input type="email" name="email" id="email" placeholder="E-Mail" >
                        <% if(locals.errors && locals.errors.email){ %>
                            <p class="msg-error"> <%= errors.email.msg %> </p>
                            <% } %>
                    </div>
                    <div class="password">
                        <input type="password" name="password" id="password" placeholder="Contraseña" >
                        <% if(locals.errors && locals.errors.password){ %>
                            <p class="msg-error"> <%= errors.password.msg %> </p>
                            <% } %>
                    </div> 
                    <div class="admin">
                        <input type="text" name="admin" id="admin" >
                    </div>
                    <div class="avatar">
                        <label for="avatar">Foto de perfil:</label>
                        <input class="avatar-button" type="file" name="avatar" id="avatar">
                    </div>           
                        <article class="botones">
                            <button class="boton-registro" type="submit">Registrate</button>
                        </article>
                    <article>
                        <p class="pregunta">¿Ya tenés cuenta?</p>
                        <article class="botones2">
                            <a href= /users/login><p class="login-button"> Inicia sesión</p></a>
                        </article>
                    </article>
                </form>
            </section>
        </main>

        <%- include("./partials/footer") %>
    </body>

</html>