<html>
<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>

            <main>
                <section class="artistBox">
                    <p class="artistName">
                        <%= artista.name %>
                    </p>
                    <img class="artistImage" src="/images/cover/<%=artista.image%>">
                    <p class="artistDescription">
                        <%= artista.description %>
                    </p >

                    <p> <%=artista.albums.name  %> </p> 


                <h2 class="tituloOtrosDiscos">Otros discos de <%= artista.name  %> </h2>
                <div class="albumesArtista" >
                    <% for(let i = 0; i < discos.length; i++) { %>
                        <article class="album">
                            <a href="/products/detail/<%=discos[i].id%>" class="albumBoton"> 
                                <img class="cover-art" src="/images/cover/<%=discos[i].image%>" alt="cover">
                                <div class="info-album">
                                    <p class="titulo-album"><%=discos[i].name %></p>
                                </div>
                            </a>
                        </article>
                    <% } %>   
                    </div>
                </section>
                

            </main>

            <%- include("./partials/footer") %>
    </body>

</html>