<html>
    <%- include("./partials/head") %>

    <body>
    <%- include("./partials/header") %>

        <main>
            
            <h2 class="titular">Listado de productos</h2>

            <section class="nuevos-lanzamientos">

                <% for(let i = 0; i < disco.length; i++) { %>
                    <article class="album">
                        <a href="/products/edit/<%=disco[i].id%>"> 
                            <img class="cover-art" src="/images/cover/<%=disco[i].image%>" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album"><%=disco[i].name %></p>
                                <p class="banda-album"><%=disco[i].artists.name %></p>
                            </div>
                        </a>
                    </article>
                <% } %>   

            </section>

            
        </main>

       <%- include("./partials/footer") %>
    </body>
</html>