<html>
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
        
        <main>
            <section class="detalle-compra">

                <article class="imagen-producto">
                    <img class="imagen-detalle" src="/images/cover/<%=discoEncontrado.image%>">

                    <div class="titulo-banda">
                        <p class="titulo"><%=discoEncontrado.name %></p>
                        <a href="/products/artistDetail/<%= discoEncontrado.artists.id%>" class="link-nombre"><p class="banda"><%=discoEncontrado.artists.name %></p></a>
                    </div>

                </article>
                
            <article class="boton-opciones">
                <article class="opcion-agregar-carrito">

                    <div class="agregar-carrito">

                        <div class="opciones-contenedor"><i class="fas fa-record-vinyl"></i> LP </div>
                        <div class="precio"> $<%=discoEncontrado.price %></div>
                    </div>
                    
                    <div class="boton-carrito">
                        <a href="/products/Cart"><p class="botonCarrito"> Agregar al carrito</P></a>
                    </div>

                </article>

                <article class="descripcion-producto">

                    <div class="opciones">
                        
                        <div class="formato-precio">
                            <div class="opciones-contenedor"><i class="fas fa-record-vinyl"></i> LP </div>
                            <div class="precio"> $<%=discoEncontrado.price + 200 %></div>
                        </div>

                        <div class="formato-precio">
                            <div class="opciones-contenedor"><i class="fas fa-compact-disc"></i> CD</div>
                            <div class="precio"> $<%=discoEncontrado.price + 400 %></div>
                        </div>

                        <div class="formato-precio">
                            <div class="opciones-contenedor"><img src="/images\iconos-logos\cassete.svg" class="icono-cassette"> Cassette</div>
                            <div class="precio"> $<%=discoEncontrado.price + 600 %></div>
                        </div>

                        <div class="formato-precio">
                            <div class="opciones-contenedor"><i class="fas fa-play"></i> Digital</div>
                            <div class="precio"> $<%=discoEncontrado.price + 800 %></div>
                        </div>

                    </div>

                </article>
            </article>

                <article class="descripcion">
                    <p>
                        <%=discoEncontrado.description %>
                    </p>
                </article>

                <article class="datos-tecnicos">
                    <ul class="lista-tecnica">
                        <li>Label: <a href=# class="link-tecnico"> <%=discoEncontrado.label.name %></a></li>
                        <li>Genre: <a href=# class="link-tecnico">  <%=discoEncontrado.genre.genre_name %></a></li>
                        <li>Artist: <a href="/products/artistDetail/<%= discoEncontrado.artists.id%>" class="link-tecnico"> <%=discoEncontrado.artists.name %></a></li>
                    </ul>
                </article>

            </section>

        </main>

        <%- include("./partials/footer") %>
    </body>
</html>