<html>
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
        
        <main>
            <section class="detalle-compra">

                <article class="imagen-producto">
                    <img class="imagen-detalle" src="/images\album-detail\Willofthepeopleproducto.png">

                    <div class="titulo-banda">
                        <p class="titulo"><%=products.album %></p>
                        <p class="banda"><%=products.artista %></p>
                    </div>

                </article>
                
            <article class="boton-opciones">
                <article class="opcion-agregar-carrito">

                    <div class="agregar-carrito">

                        <div class="opciones-contenedor"><i class="fas fa-record-vinyl"></i> LP </div>
                        <div class="precio"> $<%=products.precio %></div>
                    </div>
                    
                    <div class="boton-carrito">
                        <a href="/productCart"><p class="botonCarrito"> Agregar al carrito</P></a>
                    </div>

                </article>

                <article class="descripcion-producto">

                    <div class="opciones">
                        
                        <div class="formato-precio">
                            <div class="opciones-contenedor"><i class="fas fa-record-vinyl"></i> LP </div>
                            <div class="precio"> $<%=products.precio + 200 %></div>
                        </div>

                        <div class="formato-precio">
                            <div class="opciones-contenedor"><i class="fas fa-compact-disc"></i> CD</div>
                            <div class="precio"> $<%=products.precio + 400 %></div>
                        </div>

                        <div class="formato-precio">
                            <div class="opciones-contenedor"><img src="/images\iconos-logos\cassete.svg" class="icono-cassette"> Cassette</div>
                            <div class="precio"> $<%=products.precio + 600 %></div>
                        </div>

                        <div class="formato-precio">
                            <div class="opciones-contenedor"><i class="fas fa-play"></i> Digital</div>
                            <div class="precio"> $<%=products.precio + 800 %></div>
                        </div>

                    </div>

                </article>
            </article>

                <article class="descripcion">
                    <p>
                        <%=products.descripcion %>
                    </p>
                </article>

                <article class="datos-tecnicos">
                    <ul class="lista-tecnica">
                        <li>Label: <a href=# class="link-tecnico"> <%=products.discografica %></a></li>
                        <li>Genre: <a href=# class="link-tecnico">  <%=products.genero %></a></li>
                        <li>Artist: <a href=# class="link-tecnico"> <%=products.artista %></a></li>
                    </ul>
                </article>

            </section>

        </main>

        <%- include("./partials/footer") %>
    </body>
</html>