<html>
    <%- include("./partials/head") %>

    <body>
    <%- include("./partials/header") %>

        <main>
            
            <h2 class="titular">Listado de productos</h2>

            <section class="nuevos-lanzamientos">

                <% products.forEach(function(disco){ %>
                    <article class="album">
                        <a href="/productDetail"> 
                            <img class="cover-art" src="/images\cover-art\coverGeneric.svg" alt="cover">
                            <div class="info-album">
                                <p class="titulo-album"><%=disco.album %></p>
                                <p class="banda-album"><%=disco.artista %></p>
                            </div>
                        </a>
                    </article>
                <% }) %>   

            </section>

            
        </main>

       <%- include("./partials/footer") %>
    </body>
</html>